# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
double-entry-generator

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.vscode/
.idea/
bin/
wasm-dist/

# Alipay records
alipay_records_*.csv
default_output.beancount
dist/

# test outputs
test/output
