# ref to https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

*       @deb-sig/generator-dev

/.github/ @gaocegege @Triple-Z

/hack/ @gaocegege

/doc/ @gaocegege

Makefile @gaocegege @Triple-Z

*.go @gaocegege @Triple-Z

/pkg/ @gaocegege @Triple-Z
